mat-card {
  max-width: 400px;
  max-height: 300px;
  margin: 2em 1em;
  text-align: left;
  display: inline-block;
}

mat-panel-title {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: large;
}

mat-expansion-panel {
  background-color: #673AB7;
  padding: 1em;
  margin: 1em 1em;
}

mat-expansion-panel-header {
  background-color: #512DA8;
  margin: 1em auto;
}


mat-card-actions {
  text-align: center;
}

.default-padding-margin {
  margin: 0.25em 0.25em;
  padding: 0.25em;
}

.create-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
